body { 
    font-family: Arial;
    margin: 0;
}

.firstClass { 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.marginEffect { 
    margin-left: 4rem;
}

.centerText { 
    text-align: center;
}

.middleDiv { 
    padding-top: 20rem;
    padding-bottom: 20rem;
    color: white;
    background-color: #E0D1E3;
    font-size: 24px;
}

.projectsDiv { 
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 24px;
}

.imageEffects {
    transition: transform .2s; 
}

.imageEffects:hover { 
    transform: scale(1.05);
    cursor: pointer;
}